.toast{
    width:  60%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    border-radius: 3px;
    z-index: 99999;
}
.toast-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}


.toast-footer{
 
    display: flex;
    height: 66px;
    background-color:#f5f5f5;
    align-items: center;
    justify-content: right;
    direction: rtl;
    padding-right: 16px;
    border-radius: 3px;

}
.toast-form{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000007a;
    z-index: 1000;
}
/* toast cảnh báo */
.toast-notify{
    position: absolute;
    width: 452px;
    background-color: #f5f5f5;
    border-radius: 3px;
    display: grid;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 32px 32px 
}
.toast-notify__header{
    display: flex;
    align-items: center;

}
.toast-notify__footer{
    margin-top: 40px;
    display:flex;
    background-color: rgb(245, 245, 245);
    direction: rtl;
    border-radius: 3px;
}
.text__error{
    color: red;
    font-size: 13px;
    position: absolute;
    top:100%;
    margin: 0;
    text-align: left;
    width: 100%;
}
.group-input{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.margin-text{
    margin: 8px 0;
    font-size: 13px;
}
.size-33{
    width: 33%;
    margin-left:16px;
}
.size-66{
    width: calc(66% + 10px);
}